body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#mapcontainer {
    position: absolute; 
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: url('GTAMap.png') no-repeat center rgb(0, 0, 0);
    background-size: cover;
    display: none;
}

#gridlockA {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 50%;
    height: 45%;
    margin: 0px;
}

#gridlockB {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 50%;
    height: 45%;
    margin: 0px;
}

#gridlockC {
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 50%;
    height: 45%;
    margin: 0px;
}

#gridlockD {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 50%;
    height: 45%;
    margin: 0px;
}

.gridblock {
    position: relative;
    align-self: flex-start;
    width: 14.05%;
    height: 19.5%;
    margin: 0px;;
}

/* .grida {
    border: 1px solid rgb(0, 0, 253);
}

.gridb {
    border: 1px solid rgb(255, 51, 0);
}

.gridc {
    border: 1px solid rgb(4, 245, 24);
}

.gridd {
    border: 1px solid rgb(251, 255, 0);
} */


@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);


.tooltip  {  
    width: 18px;
    height: 18px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: rgba(255,255,255,.5);
}
  

.tooltip:hover { 
    background: rgba(209, 106, 171, 0.7);
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.tooltip:hover .info {
    visibility: visible;
}
              
.info { 
    width: 170px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 130, 129);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 3px;
    position: relative;
    visibility: hidden;
    margin: 0px 0 0 0px;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 14px;
    z-index: 1;
}

.info:hover {   
    background: rgba(209, 106, 171, 0.7);
    border: rgba(255, 255, 255, 0.7);
}

.TopMiddle {
    position: absolute;
    margin: 0 auto;
    top: 5%;
    left: 45%;
}

.Middle {
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 40%;
}

.BottomMiddle {
    position: absolute;
    margin: 0 auto;
    top: 75%;
    left: 40%;
}


.TopLeft {
    position: absolute;
    margin: 0 auto;
    top: 5%;
    left: 5%;
}

.MiddleLeft {
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 5%;
}

.BottomLeft {
    position: absolute;
    margin: 0 auto;
    top: 75%;
    left: 5%;
}

.BottomRight {
    position: absolute;
    margin: 0 auto;
    top: 75%;
    left: 80%;
}

.MiddleRight {
    position: absolute;
    margin: 0 auto;
    top: 45%;
    left: 80%;
}

.TopRight {
    position: absolute;
    margin: 0 auto;
    top: 5%;
    left: 80%;
}



